* {
	box-sizing: border-box;
}

html {
	font-size: $fontSize;
	font-family: Arial, Helvetica, sans-serif;
}

body {

	background-image: url("../../assets/images/pattern.jpg");
	color: #fff;
	@include min-height;
}

body, h1, h2, h3, h4, h5, ul, ol, li {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #202020;
}
