.traffic-lights {
  height: 300px;
  width: 100px;
  border: 2px solid #3c3f41;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.globalSwitcher {
  flex: 0 1 10%;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #3c3f41;
  &_on {
    background-color: greenyellow;
  }
}

.light {
  border: 1px solid #3c3f41;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  flex: 0 1 30%;
  margin: 5px;
  &_toggle {
    &:nth-child(2) {
      background-color: red;
    }
    &:nth-child(3) {
      background-color: yellow;
    }
    &:nth-child(4) {
      background-color: green;
    }
  }
  &_switcher {
    width: 100%;
    height: 100%;
  }
}
